body {
	background-color: black;
	color: white;
}
#container {
	margin: 0;
	padding: 0;
}
.cell {
	height: 200px;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
	margin: 0;
    float: left;
    position: relative;
	background-image: linear-gradient(to bottom right, red, yellow);
}
.cell img {
	width: 80%;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%)
}
@media screen and (min-width: 640px) {
  .cell {
	  width: 50%;
  }
}